@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Images from an existing blob</h1>
</div>

@foreach (var image in Model)
{
    <img src="@("https://mazzazureblobstorage.blob.core.windows.net/kirekhar/" + image)" alt=image />
}